.box {
  height: 50px;
  width: 200px;
  overflow: auto;
  background-color: red;
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2,
    p {
      margin: 0;
    }
  }
}

// Tablet
@media screen and (min-width: 30em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

// Desktop
// No es necesario poner el display de nuevo ni el gap por los hereda del otro.
@media screen and (min-width: 40em) {
  .products--grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
